.resume-wrapper {
  padding: 5rem;
  margin: 1rem;
  display: flex;
}
.wrapper {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .resume-wrapper {
    flex-direction: column;
    padding: 2rem;
  }
}
