* {
  font-family: "Raleway";
  font-size: 10px;
  line-height: 1.4rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 0;
}
.btn-action {
  min-width: 15rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10rem;
}

.generic-square-btn {
  background: var(--color-btn-green);
  color: white;
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 8px;
  }
}
